.divsoteGroupAdd {
    background-color: hsl(54, 100%, 48%);
    padding: 25px 100px;
    width: auto;
    font-family: 'Roboto', sans-serif;
}


.titleG {
    font-size: 2.441rem;
    text-transform: capitalize;
    color: #252525;
    margin-bottom: 25px;
    margin-top: 5px;
}

.subTitleG {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 45px;
}
/*maldita rama*/
#grupo-detalle-header {
    background-color: #F8F8F8;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    padding: 5% 10%;
    border-radius: 20px;
}
#col-izq-grupo-detalle h1{
    margin: 0;
    font-size: 5.2rem;
    text-transform: uppercase;
    line-height: 0.96;
    padding: 0% 15%;
}
#col-izq-grupo-detalle h3{
    margin-top: 2%;
    font-size: 2.7rem;    
    line-height: 1.3;
    font-weight: 400;
    padding: 0% 15%;
}

#elige-pm{
    padding: 0% 15%;
}

#elige-pm select{
    width: 200px;
    color: black;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-right: 5%;
    box-shadow: 6px 6px 5px rgba(219, 219, 219, 0.418);
    
}

#col-der-grupo-detalle img{
    width: 80%;
    height: 80%;
}

.pmtitle {
    font-size: 1.563rem;
    font-weight: 600;
    margin: 3% 0%;
}

#container-pms-asignados {
    margin: 1.5% 3%;
    margin: 0px auto;
}

#container-seccion-pms {
    border: none;
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 3%;
    background-color: hsl(51, 98%, 47%);
    box-shadow: 6px 6px 5px rgba(255, 115, 0, 0.418);
    


   
}

#container-seccion-pms img{
    border: 9px solid black;
    display: flex;
    border-radius: 100%;
    max-height: 100px;
    max-width: 100px;
    margin: 0px auto;
    box-shadow: 6px 6px 5px rgba(255, 115, 0, 0.418)
}




#pm-asignado-grupo p{
    text-align: center;
    padding: 10% 0%;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}
#pm-asignado-grupo button{
    text-align: center;
    padding: 10% 0%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    border-radius: 35px;
    width: 200px;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 9%;
}
.pmContainerName {
    width: auto;
    display: flex;
    flex-direction: row;
}

#add-students {
    text-align: center;
    padding: 10% 0%;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    border-radius: 35px;
    width: 200px;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 9%;
}
.divResponsiveAdd{
    margin: 0px;
    padding: 0px;
    background-color: tomato;
}

#alumnos-disponibles {
    border-bottom: 1px solid rgb(218, 218, 218);
    margin: 3% 3% 9% 3%;
    padding-bottom: 20px;
    text-align: center;
    color: darkgray;
    font-size: 1.25rem;
}

#add-students-interface {
    display: grid;
    grid-template: 1fr / 1fr 6fr 2fr;
}

.divAddAlRespon {
    display: flex;
    margin: 3% 3% 6% 3%;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(218, 218, 218);
}
#nombre-invitado {
    padding: 6% 10%;
}


#alumnos-grupo-card {
    background-color: teal;
    padding: 0px;
    margin: 0px;
}

.divResponsiveAdd {
    padding: 5%;
    background-color: #F8F8F8;
    margin-left: 3%;
    border-radius: 9px;
}
.divResponsiveAdd img{
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

.DivProfileCDetail {
    margin: 0px;
    padding: 0px;
    background-color: rgb(30, 255, 0);
    width: 700px !important;
    overflow: auto;
    display: flex;
    flex-wrap:wrap;
}

#alumnos-grupo {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    padding: 4%;
    border-radius: 15px;
    margin-left: 5%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
   
    /*TITULO Y ENCABEZADO*/
    .divsoteGroupAdd {
        background-color: hsl(54, 100%, 48%);
        padding: 2% 4%;
        width: 94%;
        font-family: 'Roboto', sans-serif;
    }
    
    
    .titleG {
        font-size: 2.441rem;
        text-transform: capitalize;
        color: #252525;
        margin: 2% auto;
    }
    
    .subTitleG {
        font-size: 1.563rem;
        font-weight: 400;
        margin: 2% auto 6% auto;
    }
   
    /*SECCION AÑADIR PM */
    #grupo-detalle-header {
        background-color: #F8F8F8;
        display: grid;
        grid-template: 1fr/ 1fr;
        width: 80%;
        padding: 5% 10%;
        border-radius: 20px;
    }
    #col-izq-grupo-detalle h1{
        margin: 0;
        font-size: 3.6rem;
        text-transform: uppercase;
        line-height: 0.96;
        width: 95%;
        padding: 0% 5%;
    }
    #col-izq-grupo-detalle h3{
        margin-top: 2%;
        font-size: 1.8rem;    
        line-height: 1.3;
        font-weight: 400;
        padding: 0% 5%;
    }
    
    #elige-pm{
        padding: 0% 5%;
    }
    
    #elige-pm select{
        width: 95%;
        color: black;
        border-radius: 5px;
        border: none;
        height: 40px;
        box-shadow: 6px 6px 5px rgba(219, 219, 219, 0.527);
        
    }
    #boton-elige-pm{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 95%;
        color: white;
        border-radius: 5px;
        border: none;
        height: 40px;
        box-shadow: 6px 6px 5px rgba(219, 219, 219, 0.527);
        
    }
    
    #col-der-grupo-detalle img{
        display: none;       
    }    
    
    
    /*SECCION DE PMS*/
  
    .pmtitle {
        font-size: 1.563rem;
        font-weight: 600;
        margin: 3% 0%;
    }
    
    #container-seccion-pms {
        border: none;
        width: 96%;
        border-radius: 15px;
        margin: 3%, auto;
        background-color: hsl(51, 98%, 47%);
        box-shadow: 3px 3px 5px rgba(255, 115, 0, 0.418);
        justify-self: center;  
        height: auto;
    }
  
    
    #pm-asignado-grupo{
        display: flex;
        flex-direction: column;
        padding: 0% 0%;
         
    }
    #pm-asignado-grupo p{
        text-align: center;
        padding: 0% 0%;
        font-size: 1.25rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        
    }
    #pm-asignado-grupo img{
        margin:5% auto;
        border: 9px solid black;
        display: flex;
        border-radius: 100%;
        max-height: 100px;
        max-width: 100px;       
        box-shadow: 6px 6px 5px rgba(255, 115, 0, 0.418)        
    }
    #pm-asignado-grupo button{
        margin:5% auto;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 800;
        border-radius: 35px;
        width: 66%;
        border: none;
        background-color: black;
        color: white;
       
    }
  
    /*SECCION DE AÑADIR ESTUDIANTES*/
      
    #grupo-agrega h1{
        font-size: 3rem;
        
    }

    #add-students {
        text-align: center;
        padding: 1%;
        font-size: 0.8rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        border-radius: 35px;
        width: 66%;
        height: 66px;
        border: none;
        background-color: black;
        color: white;
        margin: 3% 17% 9% 17%;
    }

    .divResponsiveAdd{
        margin: 0px;
        padding: 0px;
        background-color: tomato;
    }
    
    #alumnos-disponibles {
        border-bottom: 1px solid rgb(218, 218, 218);
        margin: 3% 3% 9% 3%;
        padding-bottom: 20px;
        text-align: center;
        color: darkgray;
        font-size: 1.25rem;
    }
    
    #add-students-interface {
        display: flex;
        flex-direction: column;
    }
    #add-students-interface h1{
        font-size: 1.563rem;
        margin: 10px, auto;
        text-align: center;
    }
    
    .divAddAlRespon {
        display: flex;
        margin: 3% 3% 6% 3%;
        padding-bottom: 3%;
        border-bottom: 1px solid rgb(218, 218, 218);
    }
    #nombre-invitado {
        padding: 6% 10%;
    }
    
    
    #alumnos-grupo-card {
        background-color: teal;
        padding: 0px;
        margin: 0px;
    }
    
    .divResponsiveAdd {
        padding: 5%;
        background-color: #F8F8F8;
        margin-left: 3%;
        border-radius: 9px;
    }
    .divResponsiveAdd img{
        border-radius: 50%;
        height: 55px;
        width: 55px;
    }
    
    .DivProfileCDetail {
        margin: 0px;
        padding: 0px;
        background-color: rgb(30, 255, 0);
        width: 700px !important;
        overflow: auto;
        display: flex;
        flex-wrap:wrap;
    }
    
    #alumnos-grupo {
     
        display: flex;
        flex-wrap: wrap;
        background-color: #F8F8F8;
        padding: 4%;
        border-radius: 15px;
        margin-left: 5%;
    }  
    
  
}

/*@media screen and (max-width:1100px) {
    .subTitleG {
        text-align: center;
    }
    .subSubTitleG {
        font-family: 'Source Sans Pro';
        margin-top: 0;
    }
    .divAsignarPM {
        position: relative;
        right: 0px;
        width: 300px;
    }
    .selectPMG {
        font-family: 'Source Sans Pro';
        width: 300px;
        height: 30px;
        border-radius: 5px 5px 0px 0px;
        text-align-last: center;
    }
    .divAsignarPM input {
        font-family: 'Source Sans Pro';
        width: 300px;
        height: 30px;
        color: white;
        background-color: black;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0px 0px 5px 5px;
    }
    .titleG {
        background-color: #f5d856a8;
        width: 300px;
        align-self: start;
        text-align: center;
        font-weight: 900;
        color: white;
    }
    .divsoteGroupAdd {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .DivProfileCDetail {
        display: block;
        margin-bottom: 10px;
        max-width: 300px;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 10px;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .pmtitle {
        font-family: 'Source Sans Pro';
        font-weight: bold;
        width: 300px;
        text-align: center;
        border-bottom: 1px solid rgb(175, 172, 172);
        height: 25px;
    }
    .pmContainerName {
        height: 100px;
        width: 300px;
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-rows: 2;
    }
    .wq {
        max-height: 50px;
        display: flex;
    }
    .wq button{
        margin-left: 100pxs;
    }
    .pmContainerName p {
        position: relative;
        top: -50px;
        font-family: 'Source Sans Pro';
        margin-left: 70px;
    }
    .roundPM {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .divResponsiveAdd {
        width: 300px;
        height: 400px;
        max-height: 400px;
        position: absolute;
        z-index: 2;
        top: 570px;
        border: 1px solid rgb(129, 128, 128);
        border-radius: 5px;
        background-color: #F8F8F8;
        overflow: hidden;
        overflow-y: scroll;
    }
    .divAddAlRespon {
        color: black;
        border-bottom: 1px solid rgb(148, 147, 147);
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        display: flex;
    }
    .divAddAlRespon div {
        position: relative;
        left: 20px;
        top:13px;
        font-size: 15px;
        font-family: 'Source Sans Pro';
        font-weight: 700;
    }
    .roundAlum {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
    .btnAddRespon{
        font-family: 'Source Sans Pro';
        font-size: 17px;
        height: 30px;
        width: 300px;
        border-radius: 5px;
        border: solid 1px rgb(128, 127, 127);
        background: white;
    }
}

@media screen and (min-width:1100px) {
    .DivProfileCDetail {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: auto;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 15px;
        width: 1200px;
        margin-top: 10px;
        margin-bottom: 100px;
        padding: 10px;
        overflow-y: hidden;
        position: relative;
        left: 90px;
        overflow-y: scroll;
        height: 800px;
    }
    .DivProfileCDetail::-webkit-scrollbar {
        display: none;
    }
    .divAddToGroup {
        border: 1px solid black;
        height: 500px;
        width: 400px;
        position: relative;
        right: -200px;
        bottom: 360px;
    }
}*/