#fondo-amarillo {

    background-color: #F6DE00;    
    height: 100vh;
    padding: 0%;

}

#fondo-blanco {
    width: auto;
    background-color: white;

    padding: 3%;
    border-radius: 1rem;
    color: rgba(199, 108, 85, 0.74);
    box-shadow: 5px 5px 30px;
    margin: 2% 4%;
    overflow: hidden;
}

#foto-header {
    border-radius: 1rem;
    width: auto;
    height: 300px;
    margin-bottom: 30px;
    display: none;

}

#contenido-home {
    display: grid;
    margin: 0px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
#titulo-home {
    padding-left: 0;

}

#titulo-home h4{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    text-transform: none !important;
    color: #FE6E0E;
}

#titulo-home h2{
    
    font-family: 'Roboto', sans-serif;
    font-size: 2.441rem;
    
    color: #414141;
    margin: 0px;
}

#titulo-home p{
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.563rem;
    max-width: 30%;    
    color: #414141;
    margin-top: 2%;
    text-transform: none !important;
}

#panel-estudiantes {

    padding-left: 0%;
    margin: 3%;
}

#panel-estudiantes p{
    text-transform: none !important;
    padding: 5%;    
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;

    color: #414141;
    margin-bottom: 25px;
    text-align: left;
}
#panel-cohortes {
    margin: 3%;
    padding-left: 0%;
    }

#panel-cohortes p{
    text-transform: none !important;
    padding: 5%;    
    font-family: 'Roboto', sans-serif;

    font-size: 1.25rem;
    line-height: 1.6;

    color: #414141;
    margin-bottom: 25px;
    text-align: left;
}

#panel-rendimiento {
    padding-left: 25%;
    grid-column: 2;
}

#panel-rendimiento p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #414141;
    margin-bottom: 25px;
    text-align: left;
}

#home-estudiantes-boton {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: white;
    width: 100%;       
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: none;
    background-color: #FE6E0E;
    cursor: pointer;
}




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #fondo-amarillo {

        background-color: #F6DE00;    
        min-height: 100vh;
        height: auto;
        padding: 0%;


    #fondo-blanco {
        width: 80%;
        background-color: white;
        padding: 20px;
        border-radius: 0.8rem;
        color: rgba(199, 108, 85, 0.74);
        box-shadow: 5px 5px 30px;
    }

    #foto-header {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 30px;
    }


    #contenido-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin: 0px;
        width: 100%;
    }

    #titulo-home {
        padding-left: 0;
        
    }
    #titulo-home h4{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        color: #FE6E0E;
        margin-bottom: 15px;
    }
    
    #titulo-home h2{
        
        font-family: 'Roboto', sans-serif;
        font-size: 2.441rem;
        text-transform: capitalize;
        color: #414141;
        margin: 0px;
        margin-bottom: 25px;
    }
    #panel-estudiantes {
        padding-left: 0;
    }
    
    #panel-estudiantes p{
        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }
    #panel-cohortes {
        padding-left: 0;
        }
    
    #panel-cohortes p{
        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }

    #panel-rendimiento {
        padding-left: 0;
        grid-column: 1;
    }

    #panel-rendimiento p{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }    

    #home-estudiantes-boton {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        color: white;
        width: 100%;       
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        border: none;
        background-color: #FE6E0E;
        cursor: pointer;
    }

    #titulo-home p{
    
        font-family: 'Roboto', sans-serif;
        font-size: 1.563rem;
        max-width: 700%;    
        color: #414141;
        margin-top: 2%;
        text-transform: none !important;
    }
    



}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
    #fondo-amarillo {
        width: 100%;
        background-color: #F6DE00;
        padding: 15px;
        height: 100%;
    }

    #fondo-blanco {
        width: 80%;
        background-color: white;
        padding: 20px;
        border-radius: 25px;
        color: rgba(199, 108, 85, 0.74);
        box-shadow: 5px 5px 30px;
    }

    #foto-header {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 30px;
    }

    #contenido-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin: 0px;
        width: 100%;
    }

    #titulo-home {
        padding-left: 0;
        
    }
    #titulo-home h4{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        color: #FE6E0E;
        margin-bottom: 15px;
    }
    
    #titulo-home h2{
        
        font-family: 'Roboto', sans-serif;
        font-size: 2.441rem;
        text-transform: capitalize;
        color: #414141;
        margin: 0px;
        margin-bottom: 25px;
    }
    #panel-estudiantes {
        padding-left: 0;
    }
    
    #panel-estudiantes p{
        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }
    #panel-cohortes {
        padding-left: 0;
        }
    
    #panel-cohortes p{
        
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }

    #home-estudiantes-boton {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: white;
        width: 100%;       
        height: 40px;
        border-radius: 50px;
        border: none;
        background-color: #414141;
        margin-bottom: 25px;
    }
    

    #titulo-home p{
    
        font-family: 'Roboto', sans-serif;
        font-size: 1.563rem;
        max-width: 700%;    
        color: #414141;
        margin-top: 2%;
        text-transform: none !important;
    }



}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #fondo-amarillo {
        width: 100wv;
        background-color: #F6DE00;
        padding: 35px;

        min-height: 100hw;

    }

    #fondo-blanco {
        width: 85%;
        background-color: white;
        padding: 30px;
        border-radius: 25px;
        color: rgba(199, 108, 85, 0.74);
        box-shadow: 5px 5px 30px;
    }

    #foto-header {
        width: 100%;
        height: 330px;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: 30px;
    }


    #contenido-home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        margin: 0px;
        width: 100%;
    }

    #titulo-home {
        margin: 0 auto;
        padding-left: 0;
        
    }
  
    #titulo-home h2{
        max-width: 370px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.441rem;
        text-transform: capitalize;
        color: #414141;
        margin-bottom: 25px;
    }
    
    #titulo-home h4{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
        color: #FE6E0E;
        margin-bottom: 15px;
    }
    
    #panel-estudiantes {
        margin: 0 auto;
        padding-left: 0;
    }
    
    #panel-estudiantes p{
        max-width: 570px;        
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }
    #panel-cohortes {
        margin: 0 auto;
        padding-left: 0;
    }
    
    #panel-cohortes p{
        max-width: 570px;                
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #414141;
        margin-bottom: 25px;
        text-align: left;
    }

    #home-estudiantes-boton {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: white;
        width: 66%;       
        height: 40px;
        border-radius: 50px;
        border: none;
        background-color: #414141;
        margin-bottom: 25px;
        justify-self: center;
    }
    #home-estudiantes-boton {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        color: white;
        width: 100%;       
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        border: none;
        background-color: #FE6E0E;
        cursor: pointer;
    }
    #titulo-home p{
    
        font-family: 'Roboto', sans-serif;
        font-size: 1.563rem;
        max-width: 700%;    
        color: #414141;
        margin-top: 2%;
        text-transform: none !important;
    }
}