#super p {
    width: 280px;
    margin-left: 25px;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
}

#super h2 {
    margin-left: 20px;
    margin-top: 0;
}

#super h1 {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#super {
    margin: 0;
    margin-top: 3px;
}

#img-sup {
    width: 100% !important;
    height: 80px;
}

#bar-yellow {
    width: 300px;
    height: 20px;
    margin-left: 10px;
    background-color: rgb(245, 245, 94);
}

.container-home img {
    width: 350px;
    margin: 10px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 15px;
}

@media (min-width: 400px) {
    #img-sup {
        width: 400px;
        height: 140px;
    }

    #super h2 {
        margin-left: 30px;
    }

    #super h1 {
        margin-left: 30px;
    }

    #bar-yellow {
        width: 70%;
        height: 22px;
        margin-left: 5%;
    }

    #super p {
        width: 60%;
        margin-left: 45px;
        font-size: 20px;
    }

    .container-home img {
        width: 480px;
        margin-left: 30px;
    }
}

@media (min-width: 800px) {
    #img-sup {
        height: 200px;
    }

    #super h2 {
        margin-left: 40px;
    }

    #super h1 {
        margin-left: 40px;
    }

    #bar-yellow {
        width: 60%;
        height: 23px;
        margin-left: 2.5%;
    }

    #super p {
        width: 35%;
        margin-left: 35px;
        color: black;
    }

    .container-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-home img {
        width: 40%;
        margin-left: 5px;
    }
}