#super p {
    width: 280px;
    margin-left: 20px 0px 20px 25px;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
}

#super h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.441rem;
    margin-left: 200px;
    margin-top: 0px;
}

#super h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.052rem;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 35px;
}

#super {
    margin: 0;
    margin-top: 3px;
}

#img-sup {
    width: 100% !important;
    height: 80px;
}

#bar-yellow {
    position: absolute;
    top: 300px;
    left:-50px;
    width: 33%;
    height: 20px;


    background-color: rgb(245, 245, 94);
}

.container-home {
    display: flex;
    flex-direction: column;
}


#container-home-estudiantes { 
    display: flex;
    flex-direction: row;
}



#alumnos-title-home {
    background-color: black;
    color: white;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}

#home-imagen-flechita {
    width: 3%;
    height: 3%;
    margin-left: 30%
}

#home-imagen-flechita2 {
    width: 3%;
    height: 3%;
    margin-left: 80%
}

#home-flechita-derecha {
    width: 35%;
    height: 35%;
    margin-left: 65%;
    margin-top: 20%

}

#home-estudiantes-div-instrucciones {
    display: flex;
    border: 3px solid black;    
    width: 80%;
    margin-left: 11.9%
}

#home-estudiantes-h4-instrucciones {
    text-align: center;
}

#home-estudiantes-div-instrucciones2 {
    border-style: solid;
    border-color: black;
    width: 80%;
    margin-left: 11.9%;
    background-color: rgb(245, 245, 94);
}

#alumnos-content {
    background-color: black;
    color: white;
    height: 30px;
    font-size: 1.563rem;

}


#home-estudiantes-boton {
    width: 80%;
    padding-left: 11.9%;
    object-fit: cover;
    height: 200px;
}

@media (min-width: 400px) {
    #img-sup {
        width: 400px;
        height: 140px;
    }

    #super h2 {
        margin-left: 30px;
    }

    #super h1 {
        margin-left: 30px;
    }

    #bar-yellow {
        width: 70%;
        height: 22px;
        margin-left: 5%;
    }

    #super p {
        width: 60%;
        margin-left: 45px;
        font-size: 20px;
    }

    .container-home img {
        width: 480px;
        margin-left: 30px;
    }
}

@media (min-width: 800px) {
    #img-sup {
        height: 200px;
    }

    #super h2 {
        margin-left: 40px;
    }

    #super h1 {
        margin-left: 40px;
    }

    #bar-yellow {
        width: 60%;
        height: 23px;
        margin-left: 2.5%;
    }

    #super p {
        width: 35%;
        margin-left: 35px;
    }

    .container-home {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 3%;
    }
}