.profile-images-card{
	margin: auto;
	display: table;
	background: #fff;
	padding: 30px 50px;
	box-shadow: 0px 0px 5px #ddd;
}

.profile-images{
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 50%;
	overflow: hidden;
}

.profile-images img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.custom-file input[type='file']{
	display: none
}

.custom-file label{
	cursor: pointer;
	color: #000;
	text-align: center;
	display: table;
	margin: auto;
	margin-top: 15px;
}