.search-nav{
  width: auto;
}

#pc-campos-busqueda {
    width: auto;
    display: flex;
  }

#inlineFormInputGroup {
    border: none;
    min-width: 50%;
    width: auto;    
    border-radius: 0.5rem;
    background-color: white;
    margin: 0% 3%;
    max-height: 36px;
    padding-left: 3%;
    color: #252525;
  }


  #pc-label-filtro-cohorte{
    color: #252525;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  #pc-filtro-cohorte {
    border: none;
    max-height: 36px;
    min-width: 15%;
  }
  
  #inlineFormInputGroup:hover{
    opacity: 1;
  }
  


  #SearchBarLabel{
    margin-left: 20px;
  }
  
  .button-search {
    position: absolute;
    margin-left: -36px;
    top: 1px;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }
  

  
  .button-search:hover {
    cursor: pointer;
    background: rgb(224, 210, 210);
    border: 1px inset;
    opacity: 0.6;
  }
  
  .icon-S {
    height: 20px;
    width: 20px;
  }


  #lupita{
      width: 3%;
      height: 3%;
  }