.divsitoProfileCard {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin:1%;
    width: 23%;
    height: auto;
}

.namePCard {
    margin: 0%;
}

.card-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.25);
    color: #313131;
    padding-top: 10px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .round {
    width: 127px;
    height: 128px;
    border-radius: 50%;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: 1px solid #dddbdb;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



button.primary {
    background-color: transparent;
    border: none;    
    height: 40px;
    color: #252525;
    font-size: 30px;
    width: 100px;
    margin-bottom: 0;
    outline-style: none;
    cursor: pointer;
}

button.primary:hover {
    opacity: 0.7;
}




.ghost img {
    height: 20px;
}

button.primary.ghost {
    background-color: transparent;
    color: #252525;
}



.divCGP {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #252525;
    width: 35px;
    height: 55px;
    right: 6px;
    top: 0;
    box-shadow: 1px 1px 10px 1px rgba(187, 187, 187, 0.562);
}

.divCGP span {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(243, 243, 243);   
}

.divHub img {
    width: 90px;
    cursor: pointer;
}

.divHub img:hover {
    opacity: 0.7;
}

.btnXPC {
    position: absolute;
    left: 10px;
    top:5px;
    height: 25px;
    width: 25px;
    background-color: rgb(204, 204, 204);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 50%;
}