@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro'), url('https://fonts.cdnfonts.com/s/12183/SourceSansPro-Black.woff') format('woff');
}

.divsitoProfileCard {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    margin: 10px;
    width: 280px;
    height: 320px;
}

.namePCard {
    margin: 10px 0;
}

.gitPC {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #000000;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .round {
    width: 127px;
    height: 128px;
    border-radius: 50%;
}

button.primary {
    background-color: transparent;
    border: none;
    border-top: 1px solid #f0c91d;
    height: 40px;
    color: #000000;
    font-size: 30px;
    width: 100px;
    margin-bottom: 0;
    outline-style: none;
    cursor: pointer;   
}
button.primary:hover {
    opacity: 0.7;
}

.primary>a {
    position: absolute;
    bottom: 1px;
    left: 78px;
}

.ghost >a {
    position: absolute;
    left: 170px;
    bottom: 3px;
}
.ghost img {
    height: 25px;
}

button.primary.ghost {
    background-color: transparent;
    color: #000000;
}
.divCGP{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:  #f5d856a8;
    width: 35px;
    height: 75px;
    right: 10px;
    top: 0;
    box-shadow: 1px 1px 10px 1px rgba(187, 187, 187, 0.562);
}
.divCGP span{
    margin-top: 5px;
    font-size: 23px;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 1px rgb(180, 175, 175)
}

.divHub img{
    width: 90px;
    cursor: pointer;
}

.divHub img:hover{
    opacity: 0.7;
}