.Panel-Body {
    text-align: center;
    color: black;
    background-color: hsl(54, 100%, 48%);
    padding: 80px;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.Panel-Body h2 {
    font-size: 3rem;
    margin: 20px 0;
}

.Panel-Sub {
    display: flex;
    flex-flow: column wrap;
    line-height: 30px;
}

.Panel-Sub h3 {
    font-size: 1.96rem;
    font-weight: 500;
}

#modulo-select {
    font-size: 1rem;
    margin: 20px;
    font-family: 'Roboto',
        sans-serif;
    border: none;
    padding: 25px 0;
    width: 20%;
    border-radius: 9px;
    padding-left: 2%;
    box-shadow: 6px 6px 5px rgb(180 133 133 / 26%);
}

#black-box {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1600px;
    height: auto;
    font-size: 1rem;
}

#black-box>div {
    margin: 30px;
    background-color: #131212;
    color: white;
    padding: 40px;
    border-radius: 9px;
    box-shadow: 6px 6px 5px rgb(180 133 133 / 26%);
    width: 550px;
}

.Panel-Participa {
    width: 30px;
    margin-left: 5px;
}

.Panel-Table-Container {
    max-width: 88vw;
    overflow-x: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 6px 6px 5px rgb(180 133 133 / 26%);
}

.Panel-Table {
    border-collapse: collapse;
    width: 100%;
}

.Panel-Table th,
.Panel-Table td {
    border: 1px solid lightgray;
    min-width: 120px;
    padding: 0.5rem;
    text-align: justify;
    padding: 1%;
    text-align: center;
}

.Panel-Table td {
    padding: 10px;
}

.Panel-Table thead th {
    background-color: black;
    color: white;
    font-size: 18px;
}

.Panel-Table tbody tr {
    background-color: white;
}

.Panel-Table tbody tr:nth-child(2n) {
    background-color: rgb(233, 233, 233);
}

.Panel-Participa {
    margin: 2px 3px;
    margin-left: 6px;
}

.Panel-Sticky {
    position: sticky;
    left: 0;
}

.Panel-Table tbody tr .Panel-Sticky {
    background-color: white;
}

.Panel-Table tbody tr:nth-child(2n) .Panel-Sticky {
    background-color: rgb(233, 233, 233);
}

/* .Panel-Table-Container {
    margin: 10px 0;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
} */