.Activos-Container {
  display: flex;
  padding: 25px 20px;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-y: auto;
  background-color: #F6DE00;
}

h3 {
  color: black;
}

h4 {
  font-weight: 500;
}

span {
  color: #b3b3b3;
}

.content {
  margin: 30px;
}

#nd {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 95%);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 30px;
  color: #25252538;
}

.Activos-Boton {
  display: inline-block;
  height: 30px;
  background-color: hsl(54, 100%, 48%);
  border-radius: 10px;
  margin-left: 10px;
}

#Prueba {
  text-align: center;
}

.Modal-Botones {
  margin-left: 20px;
  align-items: center;
}

.Modal-Cancel {
  width: 45%;
  margin: 5px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.Modal-Cancel:hover {
  opacity: .6;
  cursor: pointer;
}

.Modal-Migrar {
  width: 45%;
  margin: 30px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(87, 87, 253);
  color: white;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  #Prueba {
    display: none;
  }

  .Activos-Table {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
  }
}


@media screen and (min-width: 768px) {
  .Activos-Table {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
  }
}

.Listado-Select {
  margin-top: 10px;
  font-size: 16px;
  width: 80%;
}

.Modal-Botones {
  display: flex;
}

.Modal-Cancel {
  width: 45%;
  margin: 5px;
  height: 40px;
  background-color: red;
  color: white;
}

.Modal-Cancel:hover {
  opacity: .6;
  cursor: pointer;
}

.Modal-Migrar {
  width: 45%;
  margin: 30px;
  height: 40px;
  background-color: rgb(87, 87, 253);
  color: white;
  border-radius: 5px;
}

.Modal-Migrar:hover {
  opacity: .8;
  cursor: pointer;
}

.Modal-Migrar:disabled {
  background-color: lightgray;
  color: gray;
  cursor: no-drop;
}

.Listado-Container-Select {
  display: flex;
  justify-content: center;
  width: 100%;
}