.Add-Body {
  display: grid; 
  grid-template: 1fr / 2fr 2fr;
}

.Add-Cohorte-Body {
  min-width: 300px;
  width: 100%;
}

.Add-Image img {
  margin-top: 45px;
  margin-left: 45px;
  border-radius: 1rem;
  opacity: 0.8;
 
  width: auto;
  max-height: 450px;
}

.Add-Cohorte-Title {
  margin-top: 9%;
  margin-bottom: 3%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.Add-Frase {
  margin-bottom: 5%;
  text-align: left;
  color: #252525;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

.Add-Form {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;  
  
}

.Add-Form-Label {
  color: #252525;  
}

#campos-obligatorios-nuevo-cohorte {
  color: #333; 
  margin: 4% 0%; 
}

.Add-Form-Input-Cohorte {
  height: 30px;
  width: 56%;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px #b3b3b3;
  margin: 3% 0%;
  height: 4vh;
  padding-left: 5%;
  padding-right: 5%;
}

.Add-Form-Input-Fecha {
  padding-left: 5%;
  padding-right: 5%;
  height: 30px;
  color: #333333;
  width: 56%;
  border: none;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px #b3b3b3;
  margin: 3% 0%;
  height: 4vh;
}


.Add-Form-Input-Fecha:focus {
  outline: none;
}

.Add-Form-Error {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightsalmon;
  animation-name: error;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes error {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.disabled {
  background-color: lightgray;
  color: gray;
  cursor: no-drop;
}

#Add-Btn-Submit {
  height: 4vh;
  width: 66%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 1rem;;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 3% 0%;;
}

.enabled {
  background-color: black;
  color: white;
}



















@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  .Add-Body {
    display: grid; 
    grid-template: 1fr / 1fr;
  }
  
  .Add-Cohorte-Body {
    min-width: 300px;
    width: 100%;
  }
  
  .Add-Image img {
    margin-top: 45px;
    border-radius: 1rem;
    opacity: 0.8;
    box-shadow: 2px 2px 4px #b3b3b3;
    width: 100%;
    display: none;
  }
  
  
  .Add-Cohorte-Title {
    margin-top: 9%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.563rem;
  }
  
  .Add-Frase {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
  }
  
  .Add-Form {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;  
    
  }
  
  .Add-Form-Label {
    color: #252525;  
  }
  
  #campos-obligatorios-nuevo-cohorte {
    color: #333; 
    margin: 4% 0%; 
  }
  
  .Add-Form-Input-Cohorte {
    height: 30px;
    width: 66%;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #b3b3b3;
    margin: 3% 0%;
    height: 4vh;
  }
  
  .Add-Form-Input-Fecha {
    height: 30px;
    color: #333333;
    width: 66%;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #b3b3b3;
    margin: 3% 0%;
    height: 4vh;
  }
  
  
  .Add-Form-Input-Fecha:focus {
    outline: none;
  }
  
  .Add-Form-Error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightsalmon;
    animation-name: error;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes error {
    0% {
      opacity: 0.5;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 0.5;
    }
  }
  
  .disabled {
    background-color: lightgray;
    color: gray;
    cursor: no-drop;
  }
  
  #Add-Btn-Submit {
    height: 4vh;
    width: 66%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 3% 0%;;
  }
  
  .enabled {
    background-color: black;
    color: white;
  }
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {
  .Add-Body {
    display: grid; 
    grid-template: 1fr / 1fr;
  }

  .Add-Image img {
    margin-top: 45px;
    border-radius: 1rem;
    opacity: 0.8;
    box-shadow: 2px 2px 4px #b3b3b3;
    width: 100%;
    display: none;
  }
}

