.Add-Body {
  display: flex;
}

.Add-Image img {
  margin-top: 45px;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 2px 2px 4px #b3b3b3;
}

.Add-Form-Body {
  padding: 20px;
  width: 40%;
  z-index: 1;
}

.Add-Cohorte-Title {
  margin-top: 22px;
  text-align: left;
}

.Add-Form {

  margin-top: 60px;
}

.Add-Form-Campos {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Add-Frase {
  text-align: left;
  line-height: 25px;
}

.Add-Form-Input-Fecha {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #b3b3b3;
  height: 35px;
  padding-left: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 4px #b3b3b3;
  border-radius: 10px;
}

.Add-Form-Input-Cohorte {
  height: 35px;
  width: 190px;
}

.Add-Form-Input-Fecha:focus {
  outline: none;
}

.Add-Form-Error {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightsalmon;
  animation-name: error;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes error {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.disabled {
  background-color: lightgray;
  color: gray;
  cursor: no-drop;
}

.enabled {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .Add-Form-Body {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    margin-left: 40px;
    z-index: 1;
  }

  .Add-Image img {
    width: 100%;
    max-height: 700px;
  }

  input {
    font-size: 20px;
  }

  #Add-Btn-Submit {
    margin-top: 20px;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: hsl(54, 100%, 48%);
    color: black;
    box-shadow: 2px 2px 4px #b3b3b3;
  }

  #Add-Btn-Submit:disabled {
    cursor: no-drop;
  }

  #Add-Btn-Submit:hover {
    box-shadow: 0 0 5px yellow inset;
  }

  .Add-Form-Input-Cohorte {
    margin: 5px 0;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #b3b3b3;
  }

  .Add-Form-Input-Cohorte:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) {
  .Add-Form-Body {
    padding: 0 20px 0 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    z-index: 1;
  }

  .Add-Frase {
    text-align: left;
    width: 100%;
    font-size: 0.8rem;
  }

  .Add-Form {
    margin-top: 20px;
  }

  .Add-Image {
    display: none;
  }

  .Add-Form-Body {
    width: 100%;
  }

  .Add-Frase {
    width: 100%;
  }

  #Add-Btn-Submit {
    margin-top: 20px;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
  }
}