.Listado-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
}


.Listado-Table {
  overflow-y: auto;
  width: 100%;
}

.Listado-Td {
  border: 1px solid lightgray;
}



.Listado-Th {
  border: 1px solid lightgray;
}

#instruct {
  padding-left: 10px;
}

#Listado-Align {
  text-align: center;
}

.Listado-Boton-Detalle-cohorte {
  height: 30px;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  border-radius: 1rem;;
  font-size: 0.8rem;
  font-weight: 600;
}

#Listado-Tr:nth-child(even) {
  background-color: rgb(236, 236, 236);
}






@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  .Listado-Table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'roboto', sans-serif;
    font-size: 0.8rem;
  }

  .Listado-Boton-Detalle-cohorte {
    height: 30px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;;
    font-size: 0.8rem;
    font-weight: 600;
  }
}





@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {

  .Listado-Table {
    border-collapse: collapse;
    font-family: 'roboto', sans-serif;
    font-size: 1.4rem;
  }

  .Listado-Boton-Detalle-cohorte {

    height: 40px;
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #000000;
    color: white;
  }

  .Listado-Boton:hover {
    background-color: #fede00;
    cursor: pointer;
  }

}
