#super-invitation h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #252525;
    padding: 22px 0px;
}

#texto-sube-lista{
    text-decoration: none;

}


thead p {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: 9px 0px;
}

#link-template {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #F6DE00;
}

#invita-por-email {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding-left: 20px;
}

#mensaje-invitacion {
    margin-top: 33px;
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

#enviar-invitacion {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #F6DE00;
    margin: 33px 0px;
    height: 40px;
    border-radius: 6px;
    padding: 0px 35px;
    cursor: pointer;
}

#texto-decorativo-invitacion {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 50px auto 20px auto;
    text-align: center;
    color: #414141;

}

#super h1 {
    font-weight: 500;
}

#super h2 {
    font-weight: 300;
}

#fondonegro-invitacion {
    background-color: #111111;
}

.container-invitation-students {
    padding: 25px 50px;
    overflow: hidden;
    display: grid;
    box-shadow: 5px 5px 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 15px !important;
    grid-template: 1fr / 50% 50%;
    background-color: #111111;
}

#imagen-invitacion-estudiantes {
    padding: 30px;
    width: 100%;
}

.container-invitation-students h3 {
    font-weight: 300;
    margin-bottom: 0;
}

#tittle {
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#recibe {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 0;
    border-radius: 5px;
}

#file {
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
    color: white;
    font-size: 16px;
}


#submit {
    display: flex;
    justify-content: center;
    margin: 0px 20px 20px 20px;
}

#email {
    width: 100%;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #link-template {
        width: 80%;
        margin-left: 9%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #F6DE00;
    }

    #super-invitation {

        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    #super-invitation h1 {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        color: #252525;
        padding: 22px 0px;
    }

    thead p {
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 25px 25px;
    }

    #invita-por-email {
        width: 80%;
        margin-left: 9%;
        height: 40px;
        border-radius: 6px;
        padding-left: 0px;
    }


    #mensaje-invitacion {
        width: 80%;
        margin-left: 9%;
        margin-top: 33px;

        height: 200px;
        border-radius: 6px;
    }

    #enviar-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        background-color: #F6DE00;
        margin: 33px 0px 33px 9%;
        height: 40px;
        border-radius: 6px;
        padding: 0px 35px;
        cursor: pointer;
        width: 80%;
    }

    #texto-decorativo-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin: 30px auto 10px auto;
        text-align: center;
        color: #414141;

    }

    #super h1 {
        font-weight: 500;
    }

    #super h2 {
        font-weight: 300;
    }

    #fondonegro-invitacion {
        background-color: #000000;
    }

    .container-invitation-students {
        background-color: blueviolet;
        overflow: hidden;
        display: grid;
        box-shadow: 5px 5px 10px;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 15px !important;
        grid-template: 1fr / 1fr;
        padding: 0;

    }

    #imagen-invitacion-estudiantes {
        display: none;
    }

    .container-invitation-students h3 {
        font-weight: 300;
        margin-bottom: 0;
    }

    #tittle {
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #recibe {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        margin-bottom: 0;
    }

    #file {
        padding-left: 8%;
    }


    #submit {
        display: flex;
        justify-content: center;
        margin: 0px 20px 20px 20px;
    }

    #email {
        width: 100%;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {

    #tabla-panel-control {
        margin: 0px !important;

    }

    #link-template {
        width: 80%;
        margin-left: 9%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #F6DE00;
    }

    #super-invitation {

        margin: 0;
        max-width: 100%;
        padding: 0;
        height: auto;
    }

    #super-invitation h1 {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.563rem;
        color: #252525;
        padding: 22px 0px;
    }

    thead p {
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 25px 25px;
        margin-left: 8%;
    }

    #invita-por-email {
        width: 80%;
        margin-left: 9%;
        height: 40px;
        border-radius: 6px;
        padding-left: 0px;
    }


    #mensaje-invitacion {
        width: 80%;
        margin-left: 9%;
        margin-top: 33px;

        height: 200px;
        border-radius: 6px;
    }

    #enviar-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        background-color: #F6DE00;
        margin: 33px 0px 33px 9%;
        height: 40px;
        border-radius: 6px;
        padding: 0px 35px;
        cursor: pointer;
        width: 80%;
    }

    #texto-decorativo-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin: 30px auto 10px auto;
        text-align: center;
        color: #414141;

    }

    #super h1 {
        font-weight: 500;
    }

    #super h2 {
        font-weight: 300;
    }

    #fondonegro-invitacion {
        background-color: #000000;
    }

    .container-invitation-students {
        background-color: blueviolet;
        overflow: hidden;
        display: grid;
        box-shadow: 5px 5px 10px;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 15px !important;
        grid-template: 1fr / 1fr;
        padding: 0;

    }

    #imagen-invitacion-estudiantes {
        display: none;
    }

    .container-invitation-students h3 {
        font-weight: 300;
        margin-bottom: 0;
    }

    #tittle {
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #recibe {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        margin-bottom: 0;
    }

    #file {
        padding-left: 8%;
    }


    #submit {
        display: flex;
        justify-content: center;
        margin: 0px 20px 20px 20px;
    }

    #email {
        width: 100%;
    }
}


@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) {

    #tabla-panel-control {
        margin: 0px !important;

    }

    #link-template {
        width: 80%;
        margin-left: 9%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: #F6DE00;
    }

    #super-invitation {

        margin: 0;
        max-width: 100%;
        padding: 0;
        height: auto;
    }

    #super-invitation h1 {
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.563rem;
        color: #252525;
        padding: 22px 0px;
    }

    thead p {
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 25px 25px;
        margin-left: 8%;
    }

    #invita-por-email {
        width: 80%;
        margin-left: 9%;
        height: 40px;
        border-radius: 6px;
        padding-left: 0px;
    }


    #mensaje-invitacion {
        width: 80%;
        margin-left: 9%;
        margin-top: 33px;

        height: 200px;
        border-radius: 6px;
    }

    #enviar-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        background-color: #F6DE00;
        margin: 33px 0px 33px 9%;
        height: 40px;
        border-radius: 6px;
        padding: 0px 35px;
        cursor: pointer;
        width: 80%;
    }

    #texto-decorativo-invitacion {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        margin: 30px auto 10px auto;
        text-align: center;
        color: #414141;

    }

    #super h1 {
        font-weight: 500;
    }

    #super h2 {
        font-weight: 300;
    }

    #fondonegro-invitacion {
        background-color: #000000;
    }

    .container-invitation-students {
        background-color: blueviolet;
        overflow: hidden;
        display: grid;
        box-shadow: 5px 5px 10px;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 15px !important;
        grid-template: 1fr / 1fr;
        padding: 0;

    }

    #imagen-invitacion-estudiantes {
        display: none;
    }

    .container-invitation-students h3 {
        font-weight: 300;
        margin-bottom: 0;
    }

    #tittle {
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #recibe {
        display: flex;
        flex-wrap: wrap;
        margin: 30px;
        margin-bottom: 0;
    }

    #file {
        padding-left: 8%;
    }


    #submit {
        display: flex;
        justify-content: center;
        margin: 0px 20px 20px 20px;
    }

    #email {
        width: 100%;
    }
}