.MiCohorte-Container {
  background-color: #F6DE00;    
  height: auto;
  min-height: 77vh;
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  }

  #mi-cohorte-titulo {
    font-size: 3rem;
    margin-bottom: 1%;
  }
  
  #mi-cohorte-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5%;
  }
  
  #mi-cohorte-contenedor-instructor{
    font-size: 1.25rem;
  }
  #mi-cohorte-subtitulos {
    font-size: 1.25rem;
  }
  #mi-cohorte-subtitulos p{
    margin: 0.3% 0%;
  }

  #mi-cohorte-instructor {
    font-size: 2.44rem;
    font-weight: 600;
  }

  #MiCohorte-listado-Container{
        width: auto;
    height: auto;
    background-color: white;

    padding: 2%;
    border-radius: 1rem;
    color: #313131;
    box-shadow: 5px 5px 30px #c7181838;
    margin: 2% 5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
  }
    
  #Prueba22 {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    #Prueba22 {
      display: none;
    }
    .MiCohorte-Table {
      overflow-y: scroll;
      height: 300px;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .MiCohorte-Table {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
    }
  }