#grilla-companeros {
    display: grid;
    width: 100%;
    grid-template: 1fr / 1fr ;
}
#grilla-companeros p{
   font-size: 1.563rem;
   padding: 2% 5%;
   line-height: 3rem;
}

#pm-mi-grupo{ 
    font-size: 1.25rem;
    font-weight: 600;
    padding: 3%;
}

#linea-horizontal {
    width: 100%;
    border: 5px solid black;
    margin-bottom: 3%;
}

#camino-henry {
    font-size: 4rem;
}

#container-seccion-mis-pms {
    border: none;
    height: auto;
    display: flex;
    padding: 0%;
    max-height: 80%;
    border-radius: 15px;
    margin-bottom: 3%;
    background-color: hsl(51, 98%, 47%);
    box-shadow: 6px 6px 5px rgba(255, 115, 0, 0.418);  
}

#container-seccion-mis-pms img{
    border: 9px solid black;
    display: flex;
    border-radius: 100%;
    max-height: 100px;
    max-width: 100px;
    margin: 0px auto;
    box-shadow: 6px 6px 5px rgba(255, 115, 0, 0.418)
}

#pm-asignado-mi-grupo {
  margin: 6% 15%;
}

#pm-asignado-mi-grupo p{
    text-align: center;
    padding: 10% 0%;
    font-size: 1.25rem;
    font-weight: 600;
}

#cabezote-mi-grupo {
display: grid;
grid-template: 1fr / 1fr 3fr;
}
#cabezote-mi-grupo h1{
    padding: 2% 5%;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0%;
    letter-spacing: 0.05em;
}

#cabezote-mi-grupo h3{
    text-transform: uppercase;
    padding: 0% 5%;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width:1100px) {
    .subTitleG {
        text-align: center;
    }
    .subSubTitleG {
        font-family: 'Source Sans Pro';
        margin-top: 0;
    }
    .divAsignarPM {
        position: relative;
        right: 0px;
        width: 300px;
    }
    .selectPMG {
        font-family: 'Source Sans Pro';
        width: 300px;
        height: 30px;
        border-radius: 5px 5px 0px 0px;
        text-align-last: center;
    }
    .divAsignarPM input {
        font-family: 'Source Sans Pro';
        width: 300px;
        height: 30px;
        color: white;
        background-color: black;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 0px 0px 5px 5px;
    }
    .titleG {
        background-color: #f5d856a8;
        width: 300px;
        align-self: start;
        text-align: center;
        font-weight: 900;
        color: white;
    }
    .divsoteGroupAdd {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .DivProfileCDetail {
        display: block;
        margin-bottom: 10px;
        max-width: 300px;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 10px;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .pmtitle {
        font-family: 'Source Sans Pro';
        font-weight: bold;
        width: 300px;
        text-align: center;
        border-bottom: 1px solid rgb(175, 172, 172);
        height: 25px;
    }
    .pmContainerName {
        height: 100px;
        width: 300px;
        max-width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-rows: 2;
    }
    .wq {
        max-height: 50px;
        display: flex;
    }
    .wq button{
        margin-left: 100pxs;
    }
    .pmContainerName p {
        position: relative;
        top: -50px;
        font-family: 'Source Sans Pro';
        margin-left: 70px;
    }
    .roundPM {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .divResponsiveAdd {
        width: 300px;
        height: 400px;
        max-height: 400px;
        position: absolute;
        z-index: 2;
        top: 570px;
        border: 1px solid rgb(129, 128, 128);
        border-radius: 5px;
        background-color: white;
        overflow: hidden;
        overflow-y: scroll;
    }
    .divAddAlRespon {
        color: black;
        border-bottom: 1px solid rgb(148, 147, 147);
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        display: flex;
    }
    .divAddAlRespon div {
        position: relative;
        left: 20px;
        top:13px;
        font-size: 15px;
        font-family: 'Source Sans Pro';
        font-weight: 700;
    }
    .roundAlum {
        height: 50px;
        width: 50px;
        border-radius: 100px;
    }
    .btnAddRespon{
        font-family: 'Source Sans Pro';
        font-size: 17px;
        height: 30px;
        width: 300px;
        border-radius: 5px;
        border: solid 1px rgb(128, 127, 127);
        background: white;
    }
}

@media screen and (min-width:1100px) {
    .DivProfileCDetail {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: auto;
        border: 1px solid rgb(148, 148, 148);
        border-radius: 15px;
        width: 1200px;
        margin-top: 10px;
        margin-bottom: 100px;
        padding: 10px;
        overflow-y: hidden;
        position: relative;
        left: 90px;
        overflow-y: scroll;
        height: 800px;
    }
    .DivProfileCDetail::-webkit-scrollbar {
        display: none;
    }
    .divAddToGroup {
        border: 1px solid black;
        height: 500px;
        width: 400px;
        position: relative;
        right: -200px;
        bottom: 360px;
    }
}