
#rendimiento-fondo-amarillo {
    background-color: #F6DE00;    
    height: auto;
    min-height: 77vh;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
}

#rendimiento-titulo{
    font-size: 3rem;
}

.rend-container {
    border: none;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: rgb(245, 245, 245);

    padding: 2%;
    border-radius: 1rem;
    color: #313131;
    box-shadow: 5px 5px 30px #c7181838;
    margin: 2% 5%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.rend-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.rend-table-titles {
    color: white;
   ;
}

#rend-table-tr:nth-child(even) {
    background-color: rgb(190, 182, 182);
}

.rend-table-body {
    background-color: white;
}

.rend-table-th,
.rend-table-td {
    padding: 1%;
    box-shadow: inset 0px 1px 2px #949090;
}