.student-super-container {

}

.student-container {
    margin: 35px;
    border: 2px solid black;
    border-radius: 15px;
}

.student-titles {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.student-filter {
    display: flex;
    align-items: center;
}

.student-search {

}

.student-table {

}

.student-table-titles {

}

.student-table-body {

}