#student-super-container {
    padding: 0px !important;
    margin: 0px !important;
   
}
#titulo-tab-estudiantes {
    color: black !important;
    font-family: 'Roboto' !important;
    margin: 0px !important;
    padding: 0px !important;
}

#contenedor-top-estudiantes {
    margin: 22px 0px;
    display: flex;
}

.student-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto' !important;
    font-size: 1rem;
    font-weight: 400;
    color: #252525;
}

.student-table-titles {
    color: black;
    background-color: #d6d6d6;
}

.student-container {
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 30px;
}

.student-titles {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px 15px 0px 0px;
    color: white;
    justify-content: space-around;
    padding: 10px;
}

.student-filter {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.student-search {
    display: grid;
}

.student-input-search {
    padding: 7px;
    margin-bottom: 7px;
}

#student-input-submit {
    padding: 5px;
    background-color: #0f6151;
    color: white;
}

.student-selector {
    margin-left: 10px;
    padding: 7px;
}

#student-table-tr:nth-child(even) {
    background-color: rgb(216, 216, 216);
}

.student-table-body {
    background-color: white;
}

#links-table {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

.student-table-th,
.student-table-td {
    padding: 1%;
    box-shadow: inset 0px 1px 2px #949090;
}

@media screen and (max-width:600px) {
    .student-titles h1 {
        font-size: 28px;
    }

    .student-titles {
        flex-wrap: wrap;
        padding-top: 0;
    
    }

     #less {
        display: none;
    }

}